.node--type-project {
    header {
        background-color: $dark-purple;
        height: 500px;
        position: relative;
        #block-portfolio2022-page-title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            .block-main-container {
                @include container;
                
                h1 {
                    text-align: center;
                    font-size: 3.1em;
                    color: $light-purple
                }
            }
        }
    }
}
