.main-nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .region-nav {
        @include flex-display;
        justify-content: space-between;
        padding: 20px 40px;
        align-items: center;
        #block-headerlogo {
            position: relative;
            width: 50px;
            .field_image {
                @include flex-display;
            }
            .field_link{
                a{
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
        #block-portfolio2022-main-menu {
            ul {
                padding-left: 0;
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    font-family: $subhead-font;
                    padding-right: 20px;
                    a {
                        color: $dark-grey;
                        &:hover {
                            color: $brand-secondary;
                        }
                    }
                    &:last-child {
                        padding-right: 0;
                        a {
                            @include orange-button;
                        }
                    }
                }
            }
        }
    }
}
