body
{
  color: black;
  font-family: $body-font;
  font-size: 18px;
  overflow-x: hidden;
  line-height: 1.5;
}

.body {
	p:last-child {
		margin-bottom: 0px;
	}
}

a
{
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
}

.container
{
	@include container;
}

img
{
	max-width: 100%;
	height: auto;
	display: block;
}

.align-right {
	margin-left: 20px;
	margin-bottom: 20px;
}
.align-left {
	margin-right: 20px;
	margin-bottom: 20px;
}

h1
{
	font-size: 3.1em;
	line-height: 1.2;
	font-family: $header-font;
	sup {
		top: -0.8em;
		font-size: 50%;
	}
}

h2
{
	font-family: $header-font;
	color: $dark-grey;
	margin: 0;
	font-size: 36px;
	line-height: 48px;
	position: relative;
	margin-bottom: 40px;
	&::after {
		content: "";
		height: 4px;
		position: absolute;
		bottom: -20px;
		background-color: $dark-grey;
		width: 60px;
		margin: 0 auto;
		left: 0;
		right: 0;
		// border-radius: 4px;
	}
}

h3
{
	font-size: 20px;
	font-weight: 700;
	color: black;
	line-height: 1.4;
}

select::-ms-expand {
	display: none;
}

.purple-button {
	@include button($brand-primary, white);
	display: inline-block;
}
/*
.purple-button-wrapper {
	margin-top: 30px;
}
*/

.white-button {
	@include white-button;
}

.use-container
{
	.block-main-container
	{
		@include container;
	}
}